---
layout: base
---
<!-- <div class="blog-cover" style="background-image:url(/images/{{ site.inc.cover_image }});">

    <section>
        <div class="container">
            <h1>{{ site.inc.title }}</h1>
            {% if site.inc.subtitle %}<h3>{{ site.inc.subtitle }}</h3>{% endif %}

            {% if site.inc.twitter %}
            <a href="https://twitter.com/{{ site.inc.twitter }}" title="Follow on Twitter" target="_blank"><i class="icon icon-twitter"></i></a>
            {% endif %}
            {% if site.inc.facebook %}
            <a href="http://facebook.com/{{ site.inc.facebook }}" title="Like on Facebook" target="_blank"><i class="icon icon-facebook"></i></a>
            {% endif %}
            <a href="/feed.xml" title="RSS Feed">
                <i class="icon icon-rss"></i>
            </a>
        </div>
    </section>
</div>
 -->

<article class="container">
    <section class="index">
      <section id="profile-nav">
      <div class="profile" style="background-image:url(/images/aria.jpg); float:left;"></div>
      <ul style="float-right; list-style:none">
        <li><a href="//blog">Blog</a></li>
        <li><a href="//academic">Academic papers</a></li>
        <li><a href="//talk-posts">Guest talks and posts</a></li>
      </ul>
      </section>
      <section class="about" style="clear:both;">
      <p>
      Hi, I'm Aria! I go by <code>aria42</code> wherever I can get the username.

      <p>
      I'm currently a senior manager at Apple working on none of your business. Before that, I was co-founder and CTO of <a href="http://getprismatic.com">Prismatic</a>.
Before even that, I was an academic computer scientist in statistical natural language processing and machine learning. Check out my <a href="publications.html">academic papers</a>!
      </section>
    </section>
</article>
