---
layout: base
title: Academic
---
<article class="container">
    <!-- <section class="title"><h1>Academic Papers</h1></section> -->
{% for paper in site.data.papers %}
    <section class="index">
        <!-- {% if post.author.image %}<img src="/images/{{ post.author.image }}" class="avatar">{% endif %}-->
        <div class="academic-paper">
            {% if paper.conference %}
            <div class="meta">
              <span> Proceedings of {{ paper.conference }}</span>
            </div>
						{% endif %}
            <h2 class="title"><a href="{{ paper.pdf }}"> {{ paper.title }}</a></h2>
            <div class="authors paper-section">
						  {{ paper.authors | array_to_sentence_string  }}
            </div>

						<div class="toggler paper-section">
							<ul class="paper-present">
								{% if paper.abstract %}<li style="float:left;"><a onclick="javascript:toggleAbstract(this)">ABSTRACT</li>{% endif %}
								{% if paper.pdf %} <li ><a target="_blank" href="{{ paper.pdf }}">PDF</a></li> {% endif %}
								{% if paper.slides %}<li ><a target="_blank" href="{{ paper.pdf }}">SLIDES</a></li> {% endif %}
							</ul>
						</div>
						<div class="abstract">
              <blockquote>
								{{ paper.abstract }}
              </blockquote>
						</div>
        </div>
        <hr>
    </section>
{% endfor %}
</article>
