table a:link {
  color: #666;
  font-weight: bold;
  text-decoration: none; 
}
table a:visited {
  color: #999999;
  font-weight: bold;
  text-decoration:none;
}
table a:active,
table a:hover {
	color: #bd5a35;
	text-decoration:underline;
}

table {
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	font-size:12px;
	text-shadow: 1px 1px 0px #fff;
	background:#eaebec;
	margin:20px;
	border:#ccc 1px solid;

	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;

	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
}

table th {
	padding:21px 25px 22px 25px;
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;

	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
	background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
table th:first-child {
	text-align: left;
	padding-left:20px;
}
table tr:first-child th:first-child {
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
}
table tr:first-child th:last-child {
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
}
table tr {
	text-align: center;
	padding-left:20px;
}
table td:first-child {
	text-align: left;
	padding-left:20px;
	border-left: 0;
}
table td {
	padding:18px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;

	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
table tr.even td {
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
table tr:last-child td {
	border-bottom:0;
}
table tr:last-child td:first-child {
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
}
table tr:last-child td:last-child {
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
}
table tr:hover td {
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);	
} 
  
.tab {
  widht: 300px;
  height: 200px;
}

.site-nav {
    background:#fff;
    height:80px;
    position:absolute;
    left:0;
    right:0;
    top:0;
    box-shadow:0 0 1px 1px rgba(0,0,0,0.1);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    transition:all 0.35s ease;
    z-index:100;

    .caret {
        opacity:0.2;
    }

    .brand img {
        height:40px;
        margin-right:10px;
        margin-top:-10px;
    }

    .dropdown {
        display:inline-block;
    }

    nav {
        padding:22px 30px;
        float:left;
        height:80px;
        display:table-cell;
    }

    #navigation {
        padding-right:0;

        // Have a class available for accented
        .accented {
	       color: $accent !important;
	       fill: $accent !important;
        }


        ul {
          display: inline;
          // TODO
          padding-left: 0px;
        }

        a {
            border:0;
            margin:0 0.3em;
            display:inline-block;

            &:hover {
                color:$accent;
            }
            svg {
              width: 40px;
              height: 40px;
            }
            svg tspan {
              fill:$background;
            }
            svg:hover ellipse {
              fill:$accent;
            }
            svg:hover path {
              fill:$accent;
            }
        }

        // Hack to make icon left aligned
        a.nav-button-home {
          margin-left:0em;
        }

        > a, .dropdown-toggle  {
            color:#444;
            border:0;
            font-weight:6030;
            font-size:40px;
            display:inline-block;
        }

        .dropdown-toggle {
            padding: 6px 0.5em;
            text-align: center;

            &:hover {
                background:#eee;
            }
        }

        ul {
          float:right;
          list-style: none;
          li {
            float:left;
            padding-right:1.25em;
          }
        }

        .nav-text-button {
          font-family: $font;
          font-weight: bold;
          vertical-align: top;
          font-size: 18px;
          margin-top: 11px;
          color: $text;
        }
    }

    .tagline {
        float:right;
        text-align:right;
        font-size:15px;
        font-weight:600;

        span {
            line-height:0;
            padding-right:20px;
        }
    }
}

body.nav-hidden {
    .site-nav {
        top:-100px;
        transition:all 0.35s ease;
        -webkit-transform: translate3d(0px, 0, 0px);
    }
}
