// Tablet
@media (max-width: 1024px)  {
    .container > header, .container > section, .container > footer {
        padding:0;
        // padding-top:1em;
        margin:0 4.0em;
    }

    article {
    .media-appearance {
        iframe.embed-video {
          width: 25em;
          height: 15em;
          padding-top: 1em;
          border:0px;
        }
      }
    }
}

@media (max-width: 5000px) and (min-width: 600px) {
  .container {
      max-width:800px;
      padding-top: 2.25em;
      margin:0 auto;
  }
  article hr {
    margin: 2.25em;
    margin-left: 0.0em;
    margin-right: 0.0em;
  }
  article hr.last-article-elem {
    margin-bottom: 0.0em;
  }
}

// Mobile
@media (max-width: 600px) {

    .MathJax_Display {
      font-size:85%;
    }

    .profile {
      float:clear;
    }

    .container > header, .container > section, .container > footer {
        padding:0;
        // padding-top:1em;
        margin:0 1.5em;
    }


    article {
        padding-top:30px;


        .meta {
          font-size:0.7em;
        }

        .container > footer {
            padding:2em 0;
        }

        .full, pre {
            margin:1em 0;
        }

        pre {
          code {
            font-size: 0.65em;
          }
          padding:0.5em;
        }

        blockquote {
            margin:1em 0;

            p {
                font-size:1em;
            }
        }

        h1 {
            font-size:1.5em;
        }

        h2 {
            font-size:1.1em;
        }

        p {
            font-size:1em;
        }
        li {
          font-size: 0.8em;
        }


    .media-appearance {
        iframe.embed-video {
          width: 18em;
          height: 10.8em;
          padding-top: 1em;
          border:0px;
        }
      }
    }



    .blog-cover {
        height:200px;

        img {
            height:200px;
            width:auto;
        }

        section {
            padding:60px 0 0;
            text-align:center;

            a {
                margin:0.5em;
            }
        }
        h1.title {
          font-size:1.25em;
        }
        h1 {
            font-size:1.0em;
        }

        h3 {
            font-size:0.9em;
        }
    }

    .site-nav .tagline span {
        display:none;
    }

    .site-nav {
        #navigation {
          ul li {
            padding-right:0.50em;
          }
          .brand {
              display:inline-block;
          }

          .nav-text-button {
            font-size: 15px;
          }
        }
    }

    .site-footer {
        margin-top:0;
        padding:2em 10%;
        text-align:center;

        nav {
            display:block;
            float:none !important;
            padding:1em;
        }
    }

    .index {

        > div {
            margin:0;
        }

        img {
            display:none;
        }
    }
}
