<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Page Title -->
    <title>{% if page.title %}{{ page.title }} &mdash; {{ site.inc.title }}{% else %}{{ site.inc.title }} &mdash; {{ site.inc.subtitle }}{% endif %}</title>
    <meta name="title" content="{% if page.title %}{{ page.title }} {% else %}{{ site.inc.title }}{% endif %}">
    <!--  Icon -->
    <link rel="shortcut icon" href="/images/favicon.png" type="image/png" />
    <link rel="apple-touch-icon" href="/images/favicon-ios.png"/>
    <!--  RSS -->
    <link href="{{ site_url }}/feed.xml" rel="alternate" type="application/rss+xml" title="{{ site.inc.title }}" />
    <!--  Canonical -->
    <link rel="canonical" href="{{ site.url }}{{ page.url }}">
    <!--  Facebook OG -->
    <meta property="og:title" content="{% if page.title %}{{ page.title }} {% else %}{{ site.inc.title }}{% endif %}"/>
    <meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
    {% if page.cover_image %}
    <meta property="og:image" content="{{ site.url }}/images/{{ page.cover_image }}"/>
    {% if page.main_image %}
    <meta property="og:image" content="{{ site.url }}/images/{{ page.main_image }}"/>
    {% endif %}
    <meta property="og:image" content="{{ site.url }}/images/{{ site.inc.logo }}"/>
    {% endif %}
    {% if page.excerpt %}
    <meta property="og:description" content="{{ page.excerpt }}"/>
    <meta name="description" content="{{ page.excerpt }}"/>
    {% endif %}
    <meta property="og:site_name" content="{{ site.inc.title }}">
</head>
<body>

    <section class="site-nav">
        <header>
            <nav id="navigation">
                <ul id="navigation-menu">
                    <li>
                        <a class="logo nav-button-home" href="/">
                            <img src="/images/logo.png"/>
                        </a>
                    </li>
                    {% for item in site.data.navigation_menu %}
                    <li>
                        <a class="nav-text-button nav-button-{{ item.uri }}" href="/{{ item.uri }}">
                            {{ item.title | upcase }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </nav>
        </header>
    </section>

    {{ content }}

    <footer class="site-footer">
        <div class="contact">
            <a href="http://twitter.com/aria42" class="home"><i class="ss-icon">twitter</i></a>
            <a href="http://github.com/aria42" class="home"><i class="ss-icon">octocat</i></a>
            <a href="http://linkedin.com/in/aria42" class="home"><i class="ss-icon">linkedin</i></a>
            <a href="mailto:me@aria42.com" class="home" style="margin-right:0em"><i class="ss-icon">email</i></a>
        </div>
        <div class="blah">
            &copy; {{ site.time | date: "%Y" }} <a href="{{ site.inc.url }}">{{ site.inc.company }}</a>
        </div>
    </footer>

 <!--  Style -->
 <link rel="stylesheet" type="text/css" href="/css/main.css">
 {% if site.inc.google_font %}
   <link href="https://fonts.googleapis.com/css?family={{ site.inc.google_font }}" rel="stylesheet" type="text/css">
 {% endif %}
 <!-- Icon book -->
 <link href="/webfonts/ss-social-circle.css" rel="stylesheet" />


<!-- MathTex -->
{% if page.latex %}
<link rel="stylesheet" href="///cdnjs.cloudflare.com/ajax/libs/KaTeX/0.1.1/katex.min.css">
<script src="///cdnjs.cloudflare.com/ajax/libs/KaTeX/0.1.1/katex.min.js"></script>
<script type="text/javascript"
        src="///cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
     tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]},
     "HTML-CSS": {
         availableFonts: ["TeX"] ,
         width: "container",
         jax: ["input/TeX","output/HTML-SVG"]
     }});
</script>
{% endif %}


{% include _scripts.html %}

</body>
</html>
